### uncomment me to use the variables
export PRIVATE_KEY='0xc...'

### Fort testing poruses
export NODE1_PRIVATE_KEY='0xc...'
export NODE2_PRIVATE_KEY='0xc...'

### API key for web3 storage
export WEB3_STORAGE_TOKEN='ab...'


### Ocean Integration
export OCEAN_NETWORK_URL=http://127.0.0.1:8545
#set the address file only for ganache
export ADDRESS_FILE=~/.ocean/ocean-contracts/artifacts/address.json

# File provider url can't be localhost (use something like ngrok for testing)
export FILE_PROVIDER_URL=http://
